<div id="footer">
    <div class="footer fixed colour2 welcome-message">
        <div class="adminu" style="display: none;">
            <ul id="nav">                    
            </ul>
        </div>
        
        <div class="pull-right ">
            <ul id="nav">
                <li><a>Terms of Use</a></li>
                <li><a>Privacy Policy</a></li>
                <li><a>Resource Centre</a></li>
                <li><a>Support</a></li>
                <li><a>Contact Us</a></li>
            </ul> 
            <span>
                    © <strong>Jumbointeractive</strong> - All rights reserved &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Jumbointeractive Game
            </span>
        </div>
    </div>
        
    <div id="footer fixed colour2">
        <div class="col-xs-12 navbar-inverse navbar-fixed-bottom visible-xs">
            <div class="row" id="bottomNav">
                <div class="col-xs-3 text-center">
                    <a><i class="glyphicon glyphicon-circle-arrow-left"></i>
                        <span style="font-size: 14px;display: block;">Link</span>
                    </a>
                </div>
    
                <div class="col-xs-3 text-center">
                    <a><i class="glyphicon glyphicon-circle-arrow-down"></i><br>
                        <span style="font-size: 14px;display: block;">Link</span>
                    </a>
                </div>
    
                <div class="col-xs-3 text-center">
                    <a><i class="glyphicon glyphicon-circle-arrow-right"></i>
                        <span style="font-size: 14px;display: block;">Link</span>
                    </a>
                </div>
                
                <div class="col-xs-3 text-center">
                    <a><i class="glyphicon glyphicon-circle-arrow-right"></i>
                        <span style="font-size: 14px;display: block;">Link</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>